<div class="content">
  <div class="image">
    <div class="portrait"></div>
  </div>
  <div class="text">
    <h1><span appTypewriter [startDelay]="1000" [delay]="2500" [speed]="200" [includePipe]="true" [fastDelete]="true"
              [toType]="typewriterText"></span></h1>
    <p>I am a {{age}}-year-old <a href="https://github.com/niklasweimann" title="My Github profile">software
      developer</a>
      currently working at <a href="https://lapid.de" title="My employer">LapID Service GmbH</a> and studying computer
      science at the <a href="https://www.uni-siegen.de/start/" title="My University">University of Hagen</a>.</p>
  </div>
</div>
