@import "../../../../sass/styles";

@media only screen and (max-width: 600px) {
  .content {
    margin: 1% auto auto;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 1200px) {
  .content {
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content {
    margin: auto;
    width: 30%;
  }
}

.content{
  height: 25%;
  z-index: 1;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content .image {
  display: flex;
  text-align: center;
  z-index: 2;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.portrait {
  border-radius: 50%;
  border-width: 3px;
  border-color: #FFF;
  border-style: solid;
  width: 10em;
  height: 10em;
  background-image: url("../../../../assets/me.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.type-writer {
  color: black;
}

.text h1 {
  text-decoration: none !important;
  letter-spacing: 1px;
  color: white;
  z-index: 2;
}

.content .text p {
  color: white;
  z-index: 3;
}

.content .text p a {
  text-decoration: none !important;
  font-weight: bold;
  color: #ffba41;
}

.content .text p a:hover {
  color: #faa500;
}
