<div class="container">
  <a href="https://github.com/DotAid">
    <div class="logo">
      <svg height="100%" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
           version="1.1"
           viewBox="0 0 192 192" width="100%"
           xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><rect height="192" id="Artboard2" style="fill:none;" width="192" x="0" y="0"/>
        <g id="Artboard21">
      <g>
        <g>
          <path d="M15.258,52.593l86.381,-49.381l0.545,74.27l-86.88,49.96l-0.046,-74.849Z" style="fill:#00e690;"/>
          <path d="M15.595,127.354l55.325,33.819l0.129,-65.762l-55.454,31.943" style="fill:#00a279;"/>
        </g>
        <g class="blub">
      <path d="M90.438,116.336l86.058,-49.955l0.246,73.62l-85.916,48.787l-0.388,-72.452Z" style="fill:#6b6b6b;"/>
          <path d="M121.093,32.452l55.403,33.929l-55.154,32.017l-0.249,-65.946" style="fill:#c1c1c1;"/>
    </g>
  </g></g></svg>
    </div>
  </a>
  <div class="github-button">
    <iframe src="https://ghbtns.com/github-btn.html?user=dotaid&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="230" height="30" title="GitHub"></iframe>
  </div>
</div>

