<!-- side bar main wrapper -->
<div [ngClass]="{ 'side-nav-bar-collapsed': !(showSideNav | async) }"
     class="side-nav-bar">

  <!-- overlay -->
  <div (click)="onSidebarClose()"
       [ngClass]="{ 'side-nav-bar-overlay-collapsed': !(showSideNav | async) }"
       [ngStyle]="{ 'transition': 'background-color ' + duration + 's, visibility ' + duration + 's' }"
       class="side-nav-bar-overlay"></div>

  <!-- side bar-->
  <div [ngStyle]="getSideNavBarStyle(showSideNav | async)"
       class="side-nav-bar-menu-container">

    <!-- close button -->
    <div><span (click)="onSidebarClose()" class="material-icons side-nav-bar-close"><fa-icon [icon]="fatimes"></fa-icon></span>
    </div>

    <!-- side bar content -->
    <div class="side-nav-bar-content-container">
      <ng-container *ngTemplateOutlet="sidenavTemplateRef"></ng-container>
    </div>
  </div>
</div>
