<ul>
  <li class="linkHeadline">Social Media</li>
  <li><a href="https://twitter.com/niklasweimann" title=" Twitter "><i class="fab fa-twitter"></i></a></li>
  <li><a href="https://instagram.com/niklas.w4" title="Instagram"><i class="fab fa-instagram"></i></a></li>
  <li><a href="https://github.com/niklasweimann" title="Github"><i class="fab fa-github"></i></a></li>
  <li><a href="https://www.xing.com/profile/Niklas_Weimann2" title="Xing"><i class="fab fa-xing"></i></a></li>
  <li><a href="mailto:nikwondo@gmx.de" title="E-Mail"><i class="fas fa-at"></i></a></li>
</ul>
