<h1>Services</h1>
<ul class="multi-button round">
  <li class="outer-left gitlab">
    <a class="service-icons" href="https://git.niklas-weimann.de">
      <fa-icon [icon]="fagitlab"></fa-icon>
    </a>
  </li>
<!--  <li class="bookStack">
    <a class="service-icons" href="https://book.niklas-weimann.de">
      <fa-icon [icon]="faboook"></fa-icon>
    </a>
  </li> -->
  <li class="nexCloud">
    <a class="service-icons" href="https://cloud.niklas-weimann.de">
      <fa-icon [icon]="faCloud"></fa-icon>
    </a>
  </li>
  <li class="openWebUI">
    <a class="service-icons" href="https://chat.niklas-weimann.de">
      <fa-icon [icon]="faRobot"></fa-icon>
    </a>
  </li>
<!--  <li class="outer-right wordPress">
    <a class="service-icons" href="https://blog.niklas-weimann.de">
      <fa-icon [icon]="faWordpress"></fa-icon>
    </a>
  </li>-->
</ul>
