<hr>
<h1>Services</h1>
<ul class="multi-button round">
  <li class="outer-left gitlab">
    <a href="http://git.niklas-weimann.de">
      <fa-icon [icon]="fagitlab"></fa-icon>
    </a>
  </li>
  <li class="bookStack">
    <a href="http://book.niklas-weimann.de">
      <fa-icon [icon]="faboook"></fa-icon>
    </a>
  </li>
  <li class="nexCloud">
    <a href="http://cloud.niklas-weimann.de">
      <fa-icon [icon]="faCloud"></fa-icon>
    </a>
  </li>
  <li class="outer-right wordPress">
    <a href="http://blog.niklas-weimann.de">
      <fa-icon [icon]="faWordpress"></fa-icon>
    </a>
  </li>
</ul>


