@import "../../../../sass/styles";
@import "../../../../sass/font-awesome/font-awesome-icon-hover";

$default-color: #222222;

h1 {
  font-family: Arial, serif;
  margin-bottom: 0;
}

.multi-button {
  display: inline-block;
  position: relative;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

li {
  font-family: Lato, sans-serif;
  outline: none;
  display: inline-block;
  place-items: center;
  font-size: 1.5em;
  background-color: #eeeeee;
  border: none;
  color: $default-color;
  cursor: pointer;
  margin-bottom: 0;
  transition: background-color .4s;

  &:hover {
    background-color: #dddddd;
    transform: translate(0, 1px);

    &.gitlab > a {
      color: $color-gitlab;
    }

    &.bookStack > a {
      color: $color-bookStack;
    }

    &.nexCloud > a {
      color: $color-nexCloud;
    }

    &.wordPress > a {
      color: $color-wordPress;
    }

    &.openWebUI > a {
      color: #00d4aa;
    }
  }

  a {
    display: block;
    padding: 0.5em;
  }

  &:visited {
    color: white;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-right-width: 1px;
  }

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
  }

  & + li {
    margin-left: 0;
  }
}

.service-icons:visited {
  color: $default-color;
}

.service-icons {
  color: $default-color;
}

fa-icon {
  margin-right: 5px;
}

ul {
  list-style: none;
  padding-inline-start: unset;
}
