<div class="content">
  <div class="image">
      <div class="portrait"></div>
  </div>
  <div class="text">
    <h1><span appTypewriter [startDelay]="1000" [delay]="2500" [speed]="200" [includePipe]="true" [fastDelete]="true"
            [toType]="typewriterText"></span></h1>
    <p>I am a {{age}}-year-old <a href="http://github.com/niklasweimann" title="My Github account">software developer</a>
      currently studying computer science at the <a href="http://www.uni-siegen.de/start/">University of Siegen</a>.</p>
  </div>
</div>
