@import "../../sass/styles";
.content{
  margin: auto;
  width: 30%;
  height: 25%;
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content .image{
  display: inline-block;
  z-index: 2;
}
.portrait {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-width: 3px;
  border-color: #FFF;
  border-style:solid;
  background-image: url("../../assets/me.jpg");
  background-repeat:no-repeat;
  background-size:cover;

}
.type-writer{
  color: black;
}

.text h1{
  text-decoration: none !important;
  letter-spacing: 1px;
  color: white;
  z-index: 2;
}

.content .text p{
  color: #b3b3b3;
  z-index: 3;
}
.content .text p a{
  text-decoration: none !important;
  font-weight: bold;
  color: white;
}
.content .text p a:hover{
  color: #faa500;
}
