<div class="side-nav-bar-content">
  <img alt="Logo - Niklas Weimann" class="logo" src="../../../assets/logo.svg">
  <h1>Navigation</h1>
  <hr>
  <ul class="side-nav-bar-menu">
    <li *ngFor="let navItem of navItems" class="vertical-navbar">
      <a (click)="onNavigationSelection(navItem)" 
         [ngClass]="{'active': navItem.Active, 'has-submenu': navItem.SubItems && navItem.SubItems.length > 0}">
        {{ navItem.Label }}
        <span *ngIf="navItem.SubItems && navItem.SubItems.length > 0" 
              class="submenu-arrow" 
              [ngClass]="{'expanded': navItem.IsExpanded}">▶</span>
      </a>
      
      <!-- Submenu -->
      <ul *ngIf="navItem.SubItems && navItem.SubItems.length > 0 && navItem.IsExpanded" 
          class="submenu">
        <li *ngFor="let subItem of navItem.SubItems" 
            (click)="onSubItemSelection(subItem)" 
            class="submenu-item">
          <a [ngClass]="{'active': subItem.Active}">{{ subItem.Label }}</a>
        </li>
      </ul>
    </li>
  </ul>
  <footer>
    <hosted-services-component></hosted-services-component>
  </footer>
</div>
