.side-nav-bar-content {
  flex: 1;

  .side-nav-bar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 1.25em;
    margin-bottom: 32px;
    cursor: pointer;

    a {
      color: #000;
      font-family: Arial, ui-monospace;
      text-decoration: none;
      user-select: none;
    }

    a.active {
      font-weight: bolder;
    }
  }
}
