<div class="btn-group special">
  <a href="http://git.niklas-weimann.de" class="btn btn-light gitlab"><i class="fab fa-gitlab button-background-black"></i></a>
  <a href="http://book.niklas-weimann.de" class="btn btn-light bookStack"><i class="fas fa-book button-background-black"></i></a>
  <a href="http://cloud.niklas-weimann.de" class="btn btn-light nexCloud"><i class="fas fa-cloud button-background-black"></i></a>
  <a href="http://blog.niklas-weimann.de" class="btn btn-light wordPress"><i class="fab fa-wordpress button-background-black"></i></a>
</div>
