<h3 class="linkHeadline">Contact</h3>
<ul>
  <li><a href="{{externalLinkGeneratorService.githubLink}}" title="Github">
    <fa-icon [icon]="githubIcon" class="fa fa-github"></fa-icon>
  </a></li>
  <li><a href="{{externalLinkGeneratorService.linkedInLink}}" title="LinkedIn">
    <fa-icon [icon]="linkedInIcon" class="fa fa-linkedin"></fa-icon>
  </a></li>
  <li><a href="mailto:{{externalLinkGeneratorService.mailAddress}}" title="E-Mail">
    <fa-icon [icon]="atIcon" class="fa fa-at"></fa-icon>
  </a></li>
  <li>
    <a href="assets/public_key.asc" title="PGP-Key">
      <fa-icon [icon]="keyIcon" class="fa fa-key"></fa-icon>
    </a>
  </li>
</ul>
