<h3 class="linkHeadline">Social Media</h3>
<ul>
  <li><a href="https://twitter.com/niklasweimann" title=" Twitter ">
    <fa-icon [icon]="twitterIcon" class="fa fa-twitter"></fa-icon>
  </a></li>
  <li><a href="https://github.com/niklasweimann" title="Github">
    <fa-icon [icon]="githubIcon" class="fa fa-github"></fa-icon>
  </a></li>
  <li><a href="https://www.xing.com/profile/Niklas_Weimann2" title="Xing">
    <fa-icon [icon]="xingIcon" class="fa fa-xing"></fa-icon>
  </a></li>
  <li><a href="mailto:niklas@weimann.io" title="E-Mail">
    <fa-icon [icon]="atIcon" class="fa fa-at"></fa-icon>
  </a></li>
</ul>
