@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  overflow: hidden;
  margin: 0;
}

body {
  animation: fadein 3.0s;
  -moz-animation: fadein 3.0s;
  -webkit-animation: fadein 3.0s;
}

.sidebar-button {
  z-index: 1000;
  position: absolute;
  top: 0.3em;
  left: 0.5em;
}

.main-container {
  color: #FFF;

  section {
    flex: 1;
  }
}

