html, body {
  margin: 0;
}

body {
  animation: fadein 3.0s;
  -moz-animation: fadein 3.0s;
  -webkit-animation: fadein 3.0s;
}

.sidebar-button {
  z-index: 1000;
  position: fixed !important;
  top: 0.3em;
  left: 0.5em;
}

.main-container {
  color: #FFF;
  overflow: auto;

  section {
    flex: 1;
  }
}

@media print {
  .sidebar-button{
    display: none;
  }
}
